<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  </head>

  <body>
    <div class="wrapper  d-flex">
    <nav class="nav flex-column bg-light justify-content-between pt-6 pb-6">
      <!-- <a href="index.html"><img class="mt-6 mb-6" src="./assets/images/logo-ANSWER.svg" alt="logo" /></a> -->
      <ul class="list-unstyled">
        <li class="">
          <a href="index.html"><img class=" mb-6" src="./assets/images/logo-ANSWER.svg" alt="logo" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" aria-current="page" href="#"> 
          <span class="material-icons me-3">
            assessment
          </span>
          Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" aria-current="page" href="#"> 
            <span class="material-icons me-3">
              question_answer
            </span>
            Question
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success active" aria-current="page" href="#"> 
            <span class="material-icons me-3">
              assignment
            </span>
            Assignment
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark" aria-current="page" href="#"> 
          <span class="material-icons me-3">
            video_library
          </span>
          Course
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark" aria-current="page" href="#"> 
          <span class="material-icons me-3">
            supervisor_account
          </span>
          Admin
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark" aria-current="page" href="#"> 
          <span class="material-icons me-3">
            settings
          </span>
          Settings
        </a>
      </li>
    </ul>

      <a class="d-flex  nav-link link-dark  mt-auto" href="#">
        <div class="userinfo rounded-circle me-3 text-center"></div>
        <div class="align-self-center">
          <p class="fw-bold mb-1 lh-19">Andy Chen</p>
          <p class="fw-normal link-secondary mb-0 fs-14 lh-17">andy0401@mail.com</p>
        </div>
      </a>


    </nav>
  

    <%- contents %>
  </div>
    <!-- <footer class="footer">
      footer
    </footer> -->

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
        console.log( editor );
      } )
        .catch( error => {
        console.error( error );
      } );
</script>

    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script> -->
  </body>

</html>