
.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.fs-14{
  font-size: 14px;
}

.fs-12{
  font-size: 12px;
}
.lh-19{
  line-height: 19px;
}

.lh-24{
  line-height: 24px;
}
.lh-17{
  line-height: 17px;
}
.h24{
  height: 24px;
}

.fz14-lh21{
  font-size: 14px;
  line-height: 21px;
}

.pb-22{
  padding-bottom: 22px;
}

.lh-15{
  line-height: 15px;
}
.ml-50{
  margin-left: 50px;
}
.mr-9{
  margin-right: 9px;
}

.ml-9{
  margin-left: 9px;
}

.mr-1px{
  margin-right: 1px ;
}
.mr-23px{
  margin-right: 23px;
}

.btn-zip{
  padding-right: 16px;
  line-height: 19px;
  width: 176px;


}

.btn-radius-2{
  border-radius: 2px;
}

.w24h24{
  width: 24px;
  height: 24px;
}

.btn-tb{
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 0px;
  padding: 0px;
  width: 85px;
}


// .re-time{
//   font-size: 12px;
//   line-height: 24px;
// }


.pb-15{
  padding-bottom: 15px;
}
.s-title{
  display: flex;
  margin-top: 6px;
}
.w488{
  max-width: 488px;
}
.w536{
  max-width: 536px;
}
.w320{
  width: 320px;
}
.underline1{
  border-bottom: 1px solid ;
}

.main{
  margin-left: 296px;
  .container{
    // padding-left: 32px;
    // padding-right: 32px;
  }
   .Headline {
    font-size: 24px;
    line-height: 33px;
    
  }
}
.title-bar{ 
  text-align: center;

}

.list-group-item {
  padding: 12px;

}

.list-group-item.active{
  color: black;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}



.acc-info{
  height: 40px;
  width: 40px;
  background-image: url(../images/emilywang.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // margin-bottom: 32px;
}
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');




